@font-face {
  font-family: "Montserrat_bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "AlexBrush";
  src: url("../fonts/AlexBrush/AlexBrush-Regular.ttf");
}
@font-face {
  font-family: "Sina";
  src: url("../fonts/Sina/SinaNovaReg-webfont.woff");
}
body {
  font-family: "Sina";
  font-size: 1.5em;
}

.container {
  max-width: 1500px;
  margin: auto;
}

.flex-items-center {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

@keyframes wriggle {
  0% {
    transform: translateX(1%) translateY(-2%) rotate(2deg);
  }
  33% {
    transform: translateX(-1%) translateY(2%) rotate(-2deg);
  }
  66% {
    transform: translateX(1%) translateY(2%) rotate(2deg);
  }
  100% {
    transform: translateX(-1%) translateY(-2%) rotate(-2deg);
  }
}
@keyframes apparition-bright {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes apparition-bottom {
  0% {
    transform: translateY(100%);
    opacity: 0.4;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes apparition-top {
  0% {
    transform: translateY(-100%);
    opacity: 0.4;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes apparition-right {
  0% {
    transform: translateX(10%);
    opacity: 0.4;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes apparition-left {
  0% {
    transform: translateX(-10%);
    opacity: 0.4;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes apparition-scale {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.navbar {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  transition: all 0.8s ease;
}
@media all and (max-width: 991px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }
}
.navbar .active {
  font-weight: bold;
}
.navbar .active a::after {
  transform: scaleX(1);
}
.navbar a {
  color: black;
  transition: transform 0.3s, color 2s;
  transform: scale(1);
}
.navbar a:hover {
  transform: scale(1.05);
}
.navbar a:hover::after {
  transform: scaleX(1);
}
.navbar a::after {
  border-top: 2px solid #000;
  content: "";
  left: 0;
  width: 100%;
  display: block;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out, border-color 0.3s ease-out;
}

.active-scroll {
  transition: all 1.3s ease;
  background-color: black;
  padding-top: 0em;
  padding-bottom: 0em;
}
.active-scroll a {
  color: white !important;
}
.active-scroll a::after {
  border-top: 3px solid white;
}

.nav-link {
  color: rgba(0, 0, 0, 0.8) !important;
}

.navbar-brand {
  margin-right: 0em;
  text-align: center;
}
@media all and (max-width: 992px) {
  .navbar-brand {
    text-align: left;
  }
}
.navbar-brand img {
  border-radius: 5%;
}

@media all and (min-width: 992px) and (max-width: 1100px) {
  .navbar-expand-lg .navbar-collapse {
    font-size: 0.85em;
  }
}

.navbar--logo-Mandy {
  width: 3.25em;
}
@media all and (max-width: 991px) {
  .navbar--logo-Mandy {
    width: 2.5em;
  }
}

h1 {
  font-style: italic;
  font-size: 2em;
}

@media all and (max-width: 577px) {
  body, .card-text, .nav-link, option, .form-control {
    font-size: 1.1em;
  }
}

.carousel {
  max-height: 300px;
}
@media all and (max-width: 992px) {
  .carousel {
    max-height: 200px;
  }
}
@media all and (max-width: 577px) {
  .carousel {
    max-height: 100px;
  }
}

.scroll-apparition {
  visibility: hidden;
}

.apparition-bright-animation {
  animation: apparition-bright 2s;
}

.apparition-right-1-animation {
  animation: apparition-right 1.7s;
}

.apparition-right-2-animation {
  animation: apparition-right 2s;
}

.apparition-bottom-animation {
  animation: apparition-bottom 1s;
}

.apparition-bottom-1-animation {
  animation: apparition-bottom 1.7s;
}

.apparition-bottom-2-animation {
  animation: apparition-bottom 2s;
}

.apparition-bottom-3-animation {
  animation: apparition-bottom 2.3s;
}

.apparition-scale-animation {
  animation: apparition-scale 1.3s;
}

.apparition-scale-1-animation {
  animation: apparition-scale 1.5s;
}

.apparition-scale-2-animation {
  animation: apparition-scale 1.8s;
}

.apparition-scale-3-animation {
  animation: apparition-scale 2.2s;
}

.wriggle:hover {
  animation: wriggle 0.4s alternate infinite;
}

.page-footer {
  font-size: 0.9em;
  line-height: 0.9;
  position: absolute;
  width: 100%;
  color: white;
  background-color: black;
}
@media all and (max-width: 577px) {
  .page-footer {
    font-size: 1em;
  }
}
.page-footer a {
  color: white;
  text-decoration: none;
  background-size: 0% 2px;
  background-position: left bottom;
  background-image: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
  background-repeat: no-repeat;
  transition: all 0.55s cubic-bezier(0.2, 0.75, 0.5, 1);
}
.page-footer a:hover {
  background-size: 100% 2px;
}

.page-footer__logo-fcb {
  width: 2em;
}

.separationBar {
  background-color: black;
  width: 75%;
}

.contact-button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  font-weight: bold;
  color: #05026d;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
@media all and (max-width: 577px) {
  .contact-button {
    font-size: 0.6em;
  }
}
.contact-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: yellow;
  border-radius: 10rem;
  z-index: -2;
}
.contact-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: #e6e600;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.contact-button:hover {
  letter-spacing: 0.3rem;
}
.contact-button:hover::before {
  width: 100%;
}

.jumbotron {
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  height: 400px;
  margin-top: 6em;
  margin-bottom: 3em;
}
@media all and (max-width: 991px) {
  .jumbotron {
    margin-top: 4em !important;
  }
}
@media all and (max-width: 577px) {
  .jumbotron {
    margin-top: 5em !important;
  }
}

.home__jumbotron {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.2), rgba(139, 29, 40, 0)), url(../images/horse.jpg), no-repeat;
  background-position: 50% 0%;
  background-size: cover;
}
@media all and (min-width: 992px) {
  .home__jumbotron {
    background-position: 0% 40%;
  }
}

.home__tile--display {
  display: flex;
  justify-content: center;
}

.home__tile {
  overflow: hidden;
  transform: scale(1);
  transition: all 500ms ease-in-out;
}
.home__tile:hover {
  transform: scale(1.1);
}
.home__tile:hover .card-title {
  transform: scale(1.5);
  opacity: 0.4;
}
.home__tile .card-title {
  flex-wrap: wrap;
  transform: scale(1);
  opacity: 1;
  transition: all 300ms ease-in-out;
}
@media all and (min-width: 992px) and (max-width: 1160px) {
  .home__tile .card-title {
    font-size: 1.1em !important;
  }
}
.home__tile a {
  color: white;
}
.home__tile a:hover {
  text-decoration: initial;
}

.home__tile-installations {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../images/installations1.jpg);
  background-position: 55% 80%;
}

.home__tile-reglement {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../images/logo_Mandy.jpg);
  background-position: 15% 60%;
  background-size: cover;
}

.home__tile-stages {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../images/stages.jpg);
  background-position: 30% 55%;
  background-size: cover;
}

.home__tile-tarifs {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../images/Dj_Moon.jpg);
  background-position: 90% 60%;
}

.home__tile-contact {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../images/contact.jpg);
  background-position: 40% 20%;
  background-size: cover;
}

.home__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.home__title--left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact__contact-details {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(../images/contact.jpg), no-repeat;
  background-position: 0% 30%;
  background-size: cover;
  color: white;
}
.contact__contact-details .link--underline {
  color: #7bd5ff;
  text-shadow: 2px 2px 2px black;
  text-decoration: none;
  background-size: 0% 2px;
  background-position: left bottom;
  background-image: linear-gradient(to right, #7bd5ff 0%, #7bd5ff 100%);
  background-repeat: no-repeat;
  transition: all 0.55s cubic-bezier(0.2, 0.75, 0.5, 1);
}
.contact__contact-details .link--underline:hover {
  background-size: 100% 2px;
}

/*# sourceMappingURL=style.css.map */
