@font-face {
    font-family: "Montserrat_bold";
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "AlexBrush";
    src: url("../fonts/AlexBrush/AlexBrush-Regular.ttf");
}

@font-face {
    font-family: "Sina";
    src: url("../fonts/Sina/SinaNovaReg-webfont.woff");
}

body {
    font-family: "Sina";
    // background-color: $bg-color-site;
    font-size: 1.5em;
    // background: 
        // linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        // url("../images/logo_Mandy.jpg"), 
        // no-repeat;
}

.container {
    max-width: 1500px;
    margin: auto;
}

.flex-items-center {
    display: flex;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.display-none-for-phone {
    @media all and (max-width: 577px) {
        display: none;
    }
}
