body {
    font-family: "Sina";
    // background-color: $bg-color-site;
    font-size: 1.5em;
    // background: 
        // linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        // url("../images/logo_Mandy.jpg"), 
        // no-repeat;
}

.container {
    max-width: 1500px;
    margin: auto;
}

// Navbar

.navbar {
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white; 
    transition: all 0.8s ease;
    & .active {
        font-weight: bold;
        & a {
            &::after {
            transform: scaleX(1);
            }
        }
    }
    a {
        color: black;
        transition: transform 0.3s, color 2s;
        transform: scale(1);
        &:hover {
            transform: scale(1.05);
            &::after {
            transform: scaleX(1);
            }
        }
        &::after {
            border-top: 2px solid #000;
            content: '';
            left: 0;
            width: 100%;
            display: block;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform .3s ease-out,border-color .3s ease-out;
        }
    }    
}

.active-scroll {
    transition: all 1.3s ease;
    background-color: black;
    padding-top: 0em;
    padding-bottom: 0em;
    a {
        color: white!important;
        &::after {
            border-top: 3px solid white;
        }
    }
}

.nav-link {
    color: rgba(0,0,0,.8)!important;
}

.navbar-brand {
    margin-right: 0em;
    text-align: center;    
    @media all and (max-width: 992px){
        text-align: left;
    }
    img {
        border-radius: 5%;
    }
}

.navbar-brandAndToggler {
    display: flex;
    flex-direction: row;
}

.navbar-expand-lg .navbar-collapse {
    @media all and (min-width: 992px){
        justify-content: center;        
    }
    @media all and (max-width: 1100px){
        font-size: 0.85em;
    }
}

// Titles

h1 {
    // font-family: "AlexBrush";
    font-style: italic;
    // text-decoration: underline;
    font-size: 2em;
    @media all and (max-width:577px){
        font-size: 2.0em;
    };
}

h2 {
    @media all and (max-width:577px){
        font-size: 1.2em;
    };
}

h4, .h4 {
    @media all and (max-width:577px){
        font-size: 1.2em;
    };
}

// 

body, .card-text, .nav-link, option, .form-control {
    @media all and (max-width:577px){
        font-size: 0.9em;
    };
}

.text-primary {
    color: $second-color-site;
}

.btn {
    @media all and (max-width:577px){
        font-size: 1.0em;
    };
}

.btn-primary {
    background-color: $second-color-site;
    border-color: $second-color-site;
}

.btn-secondary {
    background-color: white;
    border-color: $second-color-site;
    color: $second-color-site;
    // transform: rotate(10deg);
    // transform-origin: 50% 0%;
    // animation: alarm 1s alternate infinite;
    animation: wriggle 2s alternate infinite; 
    &:hover {
        background-color: white;        
    }
}

// home title

.jumbotron {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.0)),
    // url(../images/Dj_Moon.jpg), no-repeat;
    // background-position: 0% 65%;
    url(../images/enCours2.jpg), no-repeat;
    background-position: 10% 0%;
    @media all and (min-width: 992px){
        background-size: 100%;
        background-position: 0% 0%;
    }  
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    height: 400px;
    margin-top: 6em;
    margin-bottom: 3em;
    animation: alarm 2s;
    @media all and (max-width: 991px){
        margin-top: 4em!important;
    }
    @media all and (max-width: 577px){
        margin-top: 5em!important;
    }
    a {
        color: white;
    }
    img {
        animation: apparition-top 1.3s;
    }
}


.home--contact-button {   
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #931f28;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;    
    z-index: 1;
    @media all and (max-width: 577px){
        font-size: 0.6em;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: inset 0 0 0 1px #931f28;
    //   background-color: $color;
      background-color:white;
      border-radius: 10rem;
      z-index: -2;
    }
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0%;
      height: 100%;
      transform: translateX(-50%);
      opacity: 0.2;
    //   box-shadow: inset 0 0 0 1px red;
    //   background-color: darken($color, 15%);
    background-color: #931f28;
      transition: all .3s;
      border-radius: 10rem;
      z-index: -1;
    box-shadow: inset 0 0 0 1px #931f28;
    }
    &:hover {
      color: white;
      letter-spacing: .30rem;
      &::before {
        width: 100%;
        height: 100%;
        opacity: 1;
      }
    }
  }

.home-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;    
}

.home-title-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#home-title-contact {
    align-self: flex-end;
}

// 

.carousel {
    max-height: 300px;
    @media all and (max-width: 992px){
        max-height: 200px;
    }
    @media all and (max-width: 577px){
        max-height: 100px;
    }
}

// Animations

.scroll-apparition {
    visibility: hidden;
}

.apparition-right-1-animation {
    animation: apparition-right 1.7s;
}

.apparition-right-2-animation {
    animation: apparition-right 2s;
}

.apparition-bottom-animation {
    animation: apparition-bottom 1s;
}

.apparition-bottom-1-animation {
    animation: apparition-bottom 1.7s;
}

.apparition-bottom-2-animation {
    animation: apparition-bottom 2s;
}

.apparition-bottom-3-animation {
    animation: apparition-bottom 2.3s;
}

.apparition-scale-animation {
    animation: apparition-scale 1.3s;
}

.apparition-scale-1-animation {
    animation: apparition-scale 1.5s;
}

.apparition-scale-2-animation {
    animation: apparition-scale 1.8s;
}

.apparition-scale-3-animation {
    animation: apparition-scale 2.2s;
}

.wriggle:hover {    
    animation: wriggle 0.4s alternate infinite; 
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.separationBar {
    background-color: black;
    width: 75%;
  }

.home--tile-display {
    display: flex;
    justify-content: center;
}
  
.home--tile {
    overflow: hidden;
    // text-shadow: black 0.1em 0.1em 0.2em;
    transform: scale(1);
    transition: all 500ms ease-in-out;  
    &:hover {
        transform: scale(1.1);
        .card-title {            
            transform : scale(1.5);
            opacity: 0.4;
        }
    }
    & .card-title {
        flex-wrap: wrap;
        transform : scale(1);
        opacity: 1;
        transition: all 300ms ease-in-out; 
        @media all and (max-width: 1120px){
            font-size: 0.8em;
        }
    }
    & a {
        color: white;               
        &:hover {
            text-decoration: initial;            
        }
    }    
}

.home--tile-installations {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.0)),
        url(../images/installations1.jpg);
    background-position: 55% 80%;
}

.home--tile-reglement {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.0)),
        url(../images/logo_Mandy.jpg);
    background-position: 15% 60%;
    background-size: 100%;
    @media all and (min-width:992px) and (max-width: 1450px){
        background-size: 150%;
    }
}

.home--tile-stages {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.0)),
        url(../images/stages.jpg);
    background-position: 30% 55%;
    background-size: 150%;
}

.home--tile-tarifs {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.0)),
        url(../images/Dj_Moon.jpg);
    background-position: 90% 60%;
}

.home--tile-contact {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.0)),
        url(../images/contact.jpg);
    background-position: 40% 20%;
    background-size: 120%;
}

.page-footer {
    font-size: 0.9em;
    line-height: 0.9;
    position: absolute;
    width: 100%;
    color: white;
    background-color: black;
    a {
        color: white;
        text-decoration: none;
        // transition: background-size 0.55s cubic-bezier(.2,.75,.5,1), color 0.5s ease;
        background-size: 0% 2px;
        background-position: left bottom;
        background-image: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
        background-repeat: no-repeat;
        transition: all 0.55s cubic-bezier(.2,.75,.5,1);
        &:hover {            
            background-size: 100% 2px;
        }
    }
}

.line-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;    
}

.column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inline {
    display: inline-block;
}

.image {
    width: 60%;
}
